# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

python

r programming

java

scala

julia

c++

Some of the commonly used libraries used by Data Scientists include:

numpy

pandas

matplotlib

scikit-learn

tensorflow

# Data Science Tools

jupyter notebook
google colab
IBM watson studio

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
a=3
b=4
print(a*b)
print(a+b)

12
7

In [2]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

#### Objectives:

* python
* R
* java
* julia

# Author

syam sundar